<div class="d-flex flex-row align-baseline">
    <MudNumericField T="int"
                     Value="@Frequency"
                     ValueChanged="FrequencyChanged"
                     Label="@_frequencyLabel"
                     For="@FrequencyExpression"
                     Disabled="@Disabled"
                     Class="mr-10"
                     />

    <MudSelect T="int"
               Value="@TimeUnit"
               ValueChanged="UpdateTimeUnit"
               For="@TimeUnitExpression"
               Label="Time Unit:"
               Variant="Variant.Outlined"
               Disabled="@Disabled"
               Margin="Margin.Dense"
               AnchorOrigin="Origin.BottomCenter"
               Class="ml-10">
        @foreach (var timeUnit in Model.TimeUnit.List)
        {
            <MudSelectItem T="int"
                           Value="@timeUnit.Value">
                @timeUnit.Name
            </MudSelectItem>
        }
    </MudSelect>
</div>