<div class="d-flex flex-row align-baseline">
    <MudNumericField T="int"
                     Label="@_frequencyLabel"
                     For="@ForFrequency"
                     Disabled="@Disabled"
                     Class="mr-10"
                     ValueChanged="UpdateFrequency"/>

    <MudSelect T="int"
               Label="Time Unit:"
               For="@ForTimeUnit"
               Variant="Variant.Outlined"
               Disabled="@Disabled"
               Margin="Margin.Dense"
               AnchorOrigin="Origin.BottomCenter"
               ValueChanged="UpdateTimeUnit"
               Class="ml-10">
        @foreach (var timeUnit in Model.TimeUnit.List)
        {
            <MudSelectItem T="int"
                           Value="@timeUnit.Value">
                @timeUnit.Name
            </MudSelectItem>
        }
    </MudSelect>
</div>